<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.nemuide.appfisika"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Buku Saku Fisika</name>

  <description>
      Aplikasi ini merupakan kumpulan materi dan rumus dari ilmu fisika.
  </description>

  <author href="https://nemuide.com" email="reza.stmikwp@gmail.com">
      M. Reza Maulana
  </author>

</widget>